<div id="sidebar" class="col-xs-2 gradientborder">
    <ul>
        <li component-list-element ng-repeat="component in componentsList.root"></li>
    </ul>

    <div ng-repeat="group in componentsList.subgroups">
        <h3 ng-click="showlist = !showlist">{{ group.text }} <i ng-class="showlist ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i></h3>
        <ul ng-class="showlist ? '' : 'collapsed'">
            <li component-list-element ng-repeat="component in group.elements"></li>
        </ul>
    </div>
</div>